<!-- Sidebar -->
<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong><u>Админ панель</u></strong></div>
    <div class="list-group list-group-flush">

        <a asp-area="Administration" asp-controller="Dashboard" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Панель управления</a>

        <a asp-area="Administration" asp-controller="Categories" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Категории услуг</a>

        <a asp-area="Administration" asp-controller="Services" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Услуги</a>

        <a asp-area="Administration" asp-controller="Cities" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Города</a>

        <a asp-area="Administration" asp-controller="Salons" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Салоны</a>

        <a asp-area="Administration" asp-controller="Appointments" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Записи</a>

    </div>
</div>
<!-- /#sidebar-wrapper -->
